html{
    background-color: #3AAFA9;    
    margin: 3rem;
}

h1{
    font-size: 3rem;
    color: #17252A;
    font-weight: bold;
}

h2{
    font-size: 2rem;
    color: #17252A;
    font-weight: bold;
}

p{
    font-size: 1rem;
    color: #FEFFFF;
    font-weight: normal;
}

img{
    width: 5rem;
    height: 5rem;
}

hr{
    border: 1px solid #2B7A78; 
}

table{
    border: 1px solid #2B7A78; 
    color: #FEFFFF;
    width: 40%;
    font-size: 1rem;
}

table th{
    background-color: #2B7A78;
    color: #FEFFFF;
}

td{
    text-align: center;
}