/********************************************************
    Vars
********************************************************/

:root {
  --width-profile: 320px;
  --height-profile: 200px;  
  --height-slide: 30%;
    
}

/********************************************************
    fonts
********************************************************/

@font-face {
    font-family: 'computerfontx';
    src: url('computerfont.ttf') format('truetype');
}


/********************************************************
    markups
********************************************************/
 
body {
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 1em;
}

h3 {
    margin-top: .5em;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
}

p {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}


/********************************************************
    classes
********************************************************/
 
.mark{
    animation: mark 25s linear infinite;
    background-color: rgb(255,0,0,0); 
    height: 10px;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    width: 5px;
    z-index: 100;
}
     
.profile {
    background: #000;
    box-shadow: 0px 2px 6px #999;
    height: var(--height-profile);
    margin: 0 auto;
    margin-top: 24px;    
    overflow: hidden;
    position: relative;
    width: var(--width-profile);    
}

.profile__body { 
    float: left;
    left: 0;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    width: 100%;
}

.profile__header {
    background-color: #2a64e8;
    color: #fff;
    float: left;
    height: 30%; 
    text-align: center; 
    position: relative;
    width: 100%;
}

.logo-ap {
    background-color: #2a64e8;
    border-radius: 50%;
    color: #fff;
    font-family: computerfontx;
    font-size: 2.6em;
    height: 1.5em;
    line-height: 1.5em;
    margin: auto;
    margin-top: .5em;
    /*border: 2px solid #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);*/
    text-align: center;
    width: 1.5em;
}

.slide {
    color: #fff;
    height: 140px;
    float: left; 
    text-align: center;           
    position: absolute;    
    width: 100%;
}

.slide-one {
    animation: slide-one 25s linear infinite;
}

.slide-one p {
    text-align: center;
    vertical-align: middle;
    width: 80%;
}

.slide-two {
    animation: slide-two 25s linear infinite;
    padding-top: 24px;
}

.slide-three {
    animation: slide-three 25s linear infinite;
}

.slide-three__cube {
    height: 100%;
    position: absolute;
}

.slide-four {
    animation: slide-four 25s linear infinite;
}

.slide-five {
    animation: slide-five 25s linear infinite;
} 

.slide-three__cube--right {
    animation: slide-three__cube--right 25s linear infinite;
    background: #ed4343;
    height: 100%;
    padding-top: 1em;
    position: absolute;
    left: 160px;
    top: 0px;
    width: 50%;
    z-index: 50;
}

.slide-three__cube--left {
    animation: slide-three__cube--left 25s linear infinite;
    background: green;
    height: 100%;
    padding-top: 1em;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    z-index: 50;
}

.slide-three__cube--center {
    animation: slide-three__cube--center 25s linear infinite;
    margin: auto;
    margin-top: 2.5em;
    opacity: 0.4;
    width: 80%;
    top: 40px;
    z-index: 1;
}
 
.slide-five-typing {
    margin-top: 40px;
}

.slide-five-typing p {
    border-right: .15em solid white;
    color: white;
    font-family: verdana;
    font-size: .8em;
    font-weight: 100;
    margin-left: 60px; 
    margin-top: 1px;
    margin-bottom: 1px;
    overflow: hidden;
    text-align: left;     
    white-space: nowrap;
}

.slide-five-typing p:nth-child(1) {
    border-right: .15em none white;
}

.slide-five-typing p:nth-child(2) {
    animation: slide-five-typing 25s linear infinite;
    border-color: white;
    opacity: 0; 
    width: 9.5em;
}
  
.title span {
    display: block;
    font-size: 12px;
    padding-top: 8px;
}


/********************************************************
    animations
********************************************************/

@keyframes mark {
    0% {
        left: 0px;
        opacity: 1;        
    } 
    100% {
        left: 320px;
        opacity: 1;
    }
}

@keyframes blinks {
    50% {
        border-color: transparent;
    }
}

@keyframes slide-one {
    0% {
        left: 0px;
    }
    4% {
        left: 0px;
    }
    6% {
        left: 0px;
        opacity: 1;
        z-index: 0;
    }
    10% {
        left: 325px;
        opacity: 0;
        z-index: 0;
    }
    16% {
        left: -325px;
        opacity: 0;
        z-index: -1;
    }
    92% {
        left: -325px;
        opacity: 0;
        z-index: 0;
    }
    96% {
        left: -325px;
        opacity: 0;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes slide-two {
    0% {
        left: -325px;
        opacity: 0;
    }
    /*16% {
        left: -325px;
        opacity: 0;
    }*/
    6% {
        left: -325px;
        opacity: 0;
    }
    10% {
        left: 0px;
        opacity: 1;
    }
    22% {
        left: 0px;
        opacity: 1;
    }  
    28% {
        left: 325px;
        opacity: 0;
        z-index: 0;
    }
    41% {
        left: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        left: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes slide-three {
    0% {
        top: -325px;
        opacity: 0;
        background: #333
    }
    24% {
        top: -325px;
        opacity: 0;
    }
    28% {
        top: 0px;
        opacity: 1;
    }
    44% {
        top: 0px;
        opacity: 1;
    }
    56% {
        top: 0px;
        opacity: 1;
    }
    60% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    61% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes slide-three__cube--left {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(0deg) translateX( 0px)
    }
    26% {
        opacity: 0;
        -webkit-transform: rotateY(0deg) translateX( 0px)
    }
    28% {
        opacity: 1;
        -webkit-transform: rotateY(0deg) translateX( 0px)
    }
    32% {
        opacity: 1;
        -webkit-transform: rotateY(0deg) translateX( 0px)
    }
    48% {
        opacity: 1;
        -webkit-transform: rotateY(-90deg) translateX( -200px) perspective(100px);
        -webkit-transform-origin: left center
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
        z-index: 0;
        ;
    }
    61% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes slide-three__cube--right {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(0deg) translateX( 0px)
    }
    26% {
        opacity: 0;
        -webkit-transform: rotateY(0deg) translateX( 0px)
    }
    28% {
        opacity: 1;
        -webkit-transform: rotateY(0deg) translateX( 0px)
    }    
    32% {
        opacity: 1;
        -webkit-transform: rotateY(0deg) translateX( 0px)
    }   
    48% {
        opacity: 1;
        -webkit-transform: rotateY(90deg) translateX( 200px) perspective(100px);
        -webkit-transform-origin: right center
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
        z-index: 0;
    }
    61% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes slide-three__cube--center {
    0% {
        opacity: 0;
    }
    36% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    42% {
        opacity: 0;
        -webkit-transform: scale(.1, .1)
    }
    43% {
        opacity: 1;
    }
    47% {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
    48%{
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    61% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide-four {
    0% {
        top: 0px;
        opacity: 0;
        background-color: beige
    }
    56% {
        top: 0px;
        opacity: 0;
    }
    60% {
        top: 0px;
        opacity: 1;
        background-color: beige
    }
    64% {
        top: 0px;
        opacity: 1;
    }
    76% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    80% {
        top: 0px;
        opacity: 0;
        z-index: 0;
        background-color: beige
    }
    81% {
        top: 0px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: 0px;
        opacity: 0;
        z-index: -1;
        background-color: #333
    }
}

@keyframes slide-five {
    0% {
        top: -325px;
        opacity: 0;
        background-color: #333;
    }
    76% {
        top: -325px;
        opacity: 0;
    }
    80% {
        top: 0px;
        opacity: 1;
    }
    84% {
        top: 0px;
        opacity: 1;
        background-color: #000;
    }
    96% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    100% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
}

@keyframes slide-five-typing {
    0% {
        top: -325px;
        opacity: 0;
        background-color: #000;
    }
    76% {
        top: -325px;
        opacity: 0;
    }
    82% {
        top: 0px;
        opacity: 1;
        width: 0em;
        /*-webkit-animation: type2 2s steps(40, end) infinite;*/
        /*, blinks 1s step-end infinite alternate;*/
        -webkit-animation-name: slide-five-typing-letter, blinks;
        -webkit-animation-delay: 0s, 0s;
        -webkit-animation-duration: 2s, .5s;
        -webkit-animation-direction: normal, normal;
        -webkit-animation-timing-function: steps(30, end), step-end;
        -webkit-animation-fill-mode: forwards, forwards;
        -webkit-animation-iteration-count: none, infinite;
    }
    95% {
        top: 0px;
        opacity: 1;
    }
    96% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    100% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
}


@keyframes slide-five-typing-letter {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid blue;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes slide-five-typing-letter {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid blue;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

