@import "../../styles/variables.scss";

section#about {
	background-color: $superlight;
	color: $secundary;
}

section#about > div > p {
	color: $secundary;
}

section#about > div > p:first-of-type {
	font-weight: bold;
	font-family: arial;
	color: $secundary;
	line-height: 2rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.width80 {
	width: 80%;
}

.solid-left-side {
	border-left: $primary 0.5rem solid;
	padding: 1rem;
	line-height: 2rem;
}

.columns {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 3rem;
	margin-right: 3rem;
}

div.columns > p:first-child {
	font-weight: bold;
	padding: 1rem;
	width: 20%;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
	.columns {
		flex-wrap: wrap;
		margin-left: 0rem;
		margin-right: 0rem;
	}
	div.columns > p:first-child {
		width: 100%;
		font-size: 1.5rem;
	}
	.solid-left-side {
		padding-left: 3rem;
	}
  section#about > div > p:first-of-type {
    margin-left: 0rem;
    margin-right: 0rem;

  }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
}
