@import "../../styles/variables.scss";

section#contact {

}

.contact-page{
  margin-left: 3rem;
  margin-right: 3rem;
}

form {
     
    padding-bottom: 4rem;
    margin-left: 4rem;
}

p.form {
  padding-left: 2rem;
}

.box img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }


  .disable {
    display: none;
  }

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .contact-page{
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {

}