<section class="relative -z-10 bg-two p-4 md:p-16" id="aboutme">
  <h2 class="font-bold text-5xl text-four leading-normal">
    10+ YEARS DEVELOPING SOFTWARE
  </h2>
  <ul
    class="grid grid-flow-row grid-cols-1 md:grid-cols-2 py-10 leading-8 list-disc gap-4"
  >
    <li class="">Developing web applications in RectJS.</li>
    <li class="">Developing web applications in angularJS.</li>
    <li class="">Working remotely with teams using the Scrum methodology.</li>
    <li class="">
      Building and integrating RESTful web services in JAVA and NodeJS.
    </li>
    <li class="">
      Developing business applications with J2EE running on WebSphere
      Application Server.
    </li>
    <li>
      Adding features to an ASP.net application and creating reports in SQL
      Reporting Services.
    </li>
    <li>
      Developing portlets and integrating web applications into business
      portals.
    </li>
    <li>
      Creating geographic information systems with MapServer, Oracle Spatial,
      PostGIS and QGIS.
    </li>
  </ul>
  <footer class="flex items-center justify-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-16 h-16 fill-five"
      viewBox="0 0 640 512"
      ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
      <path
        d="M128 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm32 97.3c28.3-12.3 48-40.5 48-73.3c0-44.2-35.8-80-80-80S48 51.8 48 96c0 32.8 19.7 61 48 73.3V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H288v54.7c-28.3 12.3-48 40.5-48 73.3c0 44.2 35.8 80 80 80s80-35.8 80-80c0-32.8-19.7-61-48-73.3V288H608c17.7 0 32-14.3 32-32s-14.3-32-32-32H544V169.3c28.3-12.3 48-40.5 48-73.3c0-44.2-35.8-80-80-80s-80 35.8-80 80c0 32.8 19.7 61 48 73.3V224H160V169.3zM488 96a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM320 392a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
      ></path></svg
    >
  </footer>
</section>
