 @font-face {
  font-family: "poppinsextrabold";
  src: url("/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "poppinsblack";
  src: url("/fonts/Poppins-Black.ttf");
}

@font-face {
    font-family: "poppinsbold";
    src: url("/fonts/Poppins-Bold.ttf");
  }

@font-face {
  font-family: "opensansbold";
  src: url("/fonts/OpenSans-Bold.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
